/* Cadastro */
.cadastro-conteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202020;
    border: 1px solid #1b1b1b;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    & h1 {
        text-align: center;
        font-size: 28px;
        color: #39ac6f;
        margin-bottom: 20px;
    }

    & p {
        color: white;
        text-align: center;
    }

    & .form-cadastro {
        border: 1px solid white;
        border-radius: 60px;
        width: auto;
        /* Aumente o tamanho da largura da borda branca */
        height: auto;
        padding: 50px;

        & form {
            width: 700px;
            margin: auto;
            padding: auto;
            display: inline-block;
            text-align: center; /* Centraliza o conteúdo horizontalmente */

            & label {
                color: aliceblue;
            }

            & .form-group {
                display: inline-block;

                margin-bottom: 20px;
            }

            & input,
            select {
                margin-bottom: 10px;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                margin-top: 5px;
                width: 300px;
                font-size: 16px;
            }

            & button {
                background-color: #39ac6f;
                color: #fff;
                font-size: 18px;
                border: none;
                border-radius: 60px;
                padding: 10px 20px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #338056;
                }
            }
        }
    }
}