/*Como funciona*/
.comofunciona-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  border: 1px solid #1b1b1b;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  & h1 {
    text-align: center;
    font-size: 28px;
    background-color: #74ba84;
    border-radius: 60px;
    color: white;
    margin-bottom: 20px;
  }

  & h3 {
    font-size: 20px;
    color: #97e9aa;
    margin-top: 20px;
  }

  & p {
    font-size: 18px;
    line-height: 1.5;
    color: #f0f0f0;
    margin-bottom: 20px;
  }
}

.elipse-superior {
  width: 295px;
  height: 281px;
  border-radius: 50%;
  border: 2px solid #39ac6f; 
  position: absolute; 
  top: 80px;
  right: -50px;
  background: none;
  z-index: -1;
  
}

.elipse-superior img{
  width: 175px;
  height: 140px;
  position: absolute;
  top: 55%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.elipse-inferior {
  width: 295px;
  height: 281px;
  border-radius: 50%;
  border: 2px solid #39ac6f;
  position: absolute;
  bottom: -270px;
  left: -50px;
  background: none;
  z-index: -1;
}

.elipse-inferior img {
  width: 170px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}