@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


.home-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frase-destaq {
    margin-bottom: 50px;
    font-size: 1.5em;

    & h1 {
        color: aliceblue;
        z-index: -1;
        font-family: 'Playfair Display', serif;
    }

    & h2 {
        color: #84CF95;
        position: absolute;
        left: 400px;
        z-index: -1;
        font-family: 'Playfair Display', serif;
    }
}


& .btn-saibamais button {
    background-color: #39ac6f;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;

    &:hover {
        background-color: #338056;
    }
}

.destaq-bicle {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.destaq-bicle img {
    width: 427px;
    height: 369px;
}


.quadrad-home {
    width: 427px;
    height: 369px;
    background: none;
    border: 2px solid white;
    margin-right: 20px;
    position: absolute;
    top: 180px;
    right: 280px;
    z-index: -1;
}

.carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

.carousel img {
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
}

.feedbackclie-destaq {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202020;
    border: 1px solid #1b1b1b;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-top: 200px;
    & h1{
        color: #84CF95;
        font-size: 1.5em;
        font-family: 'Playfair Display', serif;
    }

    & p{
        color: #fff;
    }
}