/* Estilo para o conteúdo do PortalCliente */
.portalclie-conteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #202020;
    border: 1px solid #1b1b1b;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portalclie-conteiner h1 {
    text-align: center;
    font-size: 28px;
    background-color: #74ba84;
    border-radius: 60px;
    color: white;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    display: block;
}

.portalclie-conteiner p {
    color: #ffffff;
}

.menu-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.menu-option {
    background-color: #2d2d2d;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    width: calc(25% - 20px);
    transition: transform 0.2s ease-in-out;
    box-sizing: border-box;
}

.menu-option:hover {
    transform: translateY(-5px);
}

.menu-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.menu-text {
    font-size: 18px;
    color: #ffffff;
}

.portalclie-conteiner button:hover {
    background-color: #338056;
}

.button-voltar-menu {

    background-color: #39ac6f;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-right: 25px;

    &:hover {
        background-color: #338056;
    }
}

.solic-vist,
.feedback-conteiner,
.configuracoes-conteiner {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;

    & h2 {
        font-size: 28px;
        color: #39ac6f;
        margin-bottom: 20px;
    }

    & form {
        width: 700px;
        margin: auto;
        text-align: center;
        margin-bottom: 20px;

        & label {
            color: aliceblue;
        }

        & .form-group {
            margin-bottom: 20px;
            display: inline-block;
        }

        & input,
        & select,
        & textarea {
            margin-bottom: 10px;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            margin-top: 5px;
            width: 260px;
            font-size: 16px;
            background-color: gray;
            border: 1px solid white;
        }

        & textarea {
            width: 500px;
        }

        & .button-container {
            margin-top: 20px;
        }

        & button {
            background-color: #39ac6f;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 60px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;

            &:hover {
                background-color: #338056;
            }

        }
    }
}

.acompanhar-vist,
.histo-vist {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    color: white;

    & h2 {
        font-size: 28px;
        color: #39ac6f;
        margin-bottom: 20px;
    }

    & table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;

        & th,
        & td {
            padding: 10px;
            border: 1px solid white;
        }

        & th {
            background-color: #39ac6f;
            color: white;
        }

        & td {
            background-color: rgb(91, 91, 91);
            color: white;
        }

        & td button.ver-detalhes,
        button.ver-diagnostico {
            background-color: #488757;
            margin-left: 10px;
            color: #fff;
            font-size: 14px;
            border: none;
            border-radius: 4px;
            padding: 6px 12px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }

    & button .ver-detalhes,
    button .ver-diagnostico {
        background-color: #338056;
        margin-left: 10px;
    }

    & .button-container {
        margin-top: 20px;

        & button {
            background-color: #39ac6f;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 60px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;

            &:hover {
                background-color: #338056;
            }
        }
    }
}

.faq-conteiner,
.suporte-conteiner {
    padding: 20px;
    text-align: left;
    color: #488757;

    & h2 {
        font-size: 28px;
        color: #39ac6f;
        margin-bottom: 20px;
        text-align: center;
    }

    & ul {
        list-style: none;
        padding: 0;
    }

    & li {
        margin-bottom: 20px;
    }

    & strong {
        font-weight: bold;
        font-size: 18px;
    }

    & p {
        font-size: 16px;
        margin-top: 5px;
    }

    & a {
        color: #ddd;
    }

    & .button-container {
        margin-top: 20px;
        text-align: center;

        & button {
            background-color: #39ac6f;
            color: #fff;
            font-size: 18px;
            border: none;
            border-radius: 60px;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-top: 20px;

            &:hover {
                background-color: #338056;
            }

            & a {
                color: #39ac6f;
                text-decoration: underline;
            }
        }

    }
}

.btn-chatbot {
    background-color: #39ac6f;
    color: #000000;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 45px;

    &:hover {
        background-color: #338056;
    }

    & span {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & img {
        max-width: 30px;
        height: auto;
    }
}

/* dispositivos menores (por exemplo, Smartphones) */
@media (max-width: 600px) {
    .portalclie-conteiner {
        max-width: 500px;
        padding: 20px;

        & h1 {
            font-size: 24px;
        }

        .menu-option {
            padding: 10px;
            width: calc(50% - 20px);
        }

        .menu-image {
            width: 70px;
            height: 70px;
        }

        .menu-text {
            font-size: 15px;
        }

        .button-voltar-menu {
            font-size: 15px;
            margin-top: 20px;
            margin-right: 25px;
        }

        .solic-vist,
        .feedback-conteiner,
        .configuracoes-conteiner {
            max-width: 400px;
            padding: 20px;
            border-radius: 8px;

            & h2 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            & form {
                width: 300px;
                margin: auto;
                text-align: center;
                margin-bottom: 20px;

                & input,
                & select,
                & textarea {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin-top: 5px;
                    width: 260px;
                    font-size: 13px;
                }

                & textarea {
                    width: 300px;
                }

                & .button-container {
                    margin-top: 20px;
                }

                & button {
                    font-size: 15px;
                    margin-top: 20px;
                    margin-right: 25px;
                    width: 200px;

                    &:hover {
                        background-color: #338056;
                    }

                }
            }
        }
    }
}

/* dispositivos medios (por exemplo, Tablets) */
@media (max-width: 768px){
    .portalclie-conteiner {
        max-width: 600px;
        padding: 20px;

        & h1 {
            font-size: 26px;
        }

        .menu-option {
            padding: 10px;
            width: calc(50% - 20px);
        }

        .menu-image {
            width: 80px;
            height: 80px;
        }

        .menu-text {
            font-size: 16px;
        }

        .button-voltar-menu {
            font-size: 15px;
            margin-top: 20px;
            margin-right: 25px;
        }

        .solic-vist,
        .feedback-conteiner,
        .configuracoes-conteiner {
            max-width: 550px;
            padding: 20px;
            border-radius: 8px;

            & h2 {
                font-size: 26px;
                margin-bottom: 20px;
            }

            & form {
                width: 400px;
                margin: auto;
                text-align: center;
                margin-bottom: 20px;

                & input,
                & select,
                & textarea {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 5px 10px;
                    margin-top: 5px;
                    width: 300px;
                    font-size: 15px;
                }

                & textarea {
                    width: 300px;
                }

                & .button-container {
                    margin-top: 20px;
                }

                & button {
                    font-size: 15px;
                    margin-top: 20px;
                    margin-right: 25px;
                    width: 200px;

                    &:hover {
                        background-color: #338056;
                    }

                }
            }
        }
    }
}

/* dispositivos grandes (por exemplo, Desktops) */
@media (max-width: 992px) {
    .portalclie-conteiner {
        max-width: 650px;
        padding: 20px;

        & h1 {
            font-size: 28px;
        }

        .menu-image {
            width: 90px;
            height: 90px;
        }

        .menu-text {
            font-size: 18px;
        }

        .button-voltar-menu {
            font-size: 17px;
            margin-top: 20px;
            margin-right: 25px;
        }
    }
}