/* Estilização para os serviços */
.servicos-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  border: 1px solid #1b1b1b;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  & h1 {
    text-align: center;
    font-size: 28px;
    background-color: #74ba84;
    border-radius: 60px;
    color: white;
    width: 100%;
    margin-bottom: 20px;
  }

  & .servico-item {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #2d2d2d;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    & h3 {
      font-size: 16px;
      margin-bottom: 10px;
      color: #84CF95;
    }

    & p {
      font-size: 14px;
      color: #f0f0f0;
    }
  }
}

/* dispositivos menores (por exemplo, Smartphones) */
@media (max-width: 600px) {
  .servicos-container {
    max-width: 400px;
    padding: 10px;

    & h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 15px;
      margin-top: 20px;
    }

    & p {
      font-size: 13px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {

      margin-bottom: 20px;
      padding: 20px;
      box-sizing: border-box;

      & h3 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 14px;
        color: #f0f0f0;
      }

      & img {
        width: 300px;
      }
    }
  }
}

/* dispositivos medios (por exemplo, Tablets) */
@media (max-width: 768px) {
  .servicos-container {
    max-width: 550px;
    padding: 10px;

    & h1 {
      font-size: 25px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 16px;
      margin-top: 20px;
    }

    & p {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {
      margin-bottom: 20px;
      padding: 20px;

      & h3 {
        font-size: 17px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 15px;
        color: #f0f0f0;
      }

      & img {
        width: 450px;
      }
    }
  }

}

/* dispositivos grandes (por exemplo, Desktops) */
@media (max-width: 992px) {
  .servicos-container {
    max-width: 650px;
    padding: 10px;

    & h1 {
      font-size: 27px;
      margin-bottom: 20px;
    }

    & h3 {
      font-size: 18px;
      margin-top: 20px;
    }

    & p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    & .servico-item {
      margin-bottom: 20px;
      padding: 20px;

      & h3 {
        font-size: 19px;
        margin-bottom: 10px;
      }

      & p {
        font-size: 17px;
        color: #f0f0f0;
      }

      & img {
        width: 500px;
      }
    }
  }
}