/* Estilo para o conteúdo da página "Sobre Nós" */

.sobrenos-conteiner {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #202020;
  border: 1px solid #1b1b1b;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  & h1 {
    text-align: center;
    font-size: 28px;
    background-color: #74ba84;
    border-radius: 60px;
    color: white;
    margin-bottom: 20px;
  }

  & h3 {
    font-size: 20px;
    color: #84CF95;
    margin-top: 20px;
  }

  & p {
    font-size: 18px;
    line-height: 1.5;
    color: #f0f0f0;
    margin-bottom: 20px;
  }

  & ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  & ul li {
    font-size: 16px;
    line-height: 1.4;
    color: #f0f0f0;
  }
}

.elipse-lateral {
  width: 295px; /* Largura da elipse (ou do círculo) */
  height: 281px; /* Altura da elipse (ou do círculo) - mesma dimensão da largura */
  border-radius: 50%; /* 50% para o raio horizontal e vertical para criar um círculo */
  border: 2px solid #39ac6f; /* Adiciona uma borda verde */
  position: absolute; /* Posiciona absolutamente no canto superior esquerdo */
  top: 50%; /* Alinha com o topo */
  right: -120px; /* Alinha com a esquerda */
  background: none; /* Remove a cor de fundo */
  z-index: -1; /* Coloca a elipse atrás de outros elementos, como a sua header */
}